<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Simple Login Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="login-form">
        <form (ngSubmit)="f.form.valid && signin()" #f="ngForm" action="" method="post">
            <h2 class="text-center">Login Up</h2>
            <div class="form-group">
                <input [(ngModel)]="model.email" #email="ngModel" name="email" type="email"
                class="form-control" placeholder="Email" required="required">
            </div>
            <div class="form-group">
                <input [(ngModel)]="model.password" #password="ngModel" name="password" type="password"
                class="form-control" placeholder="Password" required="required">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Log In</button>
            </div>
        </form>
        <p class="text-center"><a href="javascript:;" routerLink="/signup">Create an Account</a></p>
    </div>
</body>