<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Simple Login Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="login-form">
        <form (ngSubmit)="f.form.valid && updateBook()" #f="ngForm" action="" method="post">
            <h2 class="text-center">Update Book</h2>
            <div class="form-group">
                <input [(ngModel)]="model.title" #title="ngModel" name="title" type="text"
                class="form-control" placeholder="Title" required="required">
            </div>
            <div class="form-group">
                <input [(ngModel)]="model.author" #author="ngModel" name="author" type="text"
                class="form-control" placeholder="Author" required="required">
            </div>
            <div class="form-group">
                <input [(ngModel)]="model.isbn" #isbn="ngModel" name="isbn" type="text"
                class="form-control" placeholder="ISBN" required="required">
            </div>
            <div class="form-group">
                <input [(ngModel)]="model.price" #price="ngModel" name="price" type="text"
                class="form-control" placeholder="Price" required="required">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Update</button>
            </div>
        </form>
        <p class="text-center"><a href="javascript:;" routerLink="/books">Cancel</a></p>
    </div>
</body>
