<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Simple Login Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
</head>
<body>
    <div style="text-align:center; width: 80%;margin-top: 20px">
        <button *ngIf="user_type=='admin'" class="btn btn-info" routerLink="/add-books">
             <i class="fa fa-plus-square-o"></i> Add Books
        </button>
        <a href="javascript:;" (click)="logout()" style="float:right"><i class="fa fa-sign-out fa-3x"></i></a>
    </div>

    <table id="example" class="table table-striped table-bordered" style="width:60%;margin-top:40px;" align="center">
          <thead>
              <tr>
                  <th>Title</th>
                  <th>Author</th>
                  <th>ISBN</th>
                  <th>Price</th>
                  <th colspan="2">Actions</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let book of booksList">
                  <td>{{book.title}}</td>
                  <td>{{book.author}}</td>
                  <td>{{book.isbn}}</td>
                  <td>{{book.price}}</td>
                  <!-- checking if the user is an admin, if the user is an admin then the delete button will be displayed -->
                  <td *ngIf="user_type=='admin'">
                    <a href="javascript:;" (click)="deleteBook(book._id)"><i class="fa fa-trash fa-2x" aria-hidden="true" style="color:rgba(255,0,0,0.411)"></i></a>
                  </td>
                  <td>
                    <a href="javascript:;" routerLink="/edit-books/{{book._id}}"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true" style="color:rgba(38,132,194,0.493)"></i></a>
                  </td>
              </tr>
          </tbody>
    </table>
</body>